

#first-number{
  grid-area: fn;
  width: 50px;
  height:50px;
}

#second-number{
  grid-area: sn;
}

.signs{
  grid-area: signs;
}

.others{
  grid-area: others;
}

#result{
  grid-area: result;
}

.container{
  margin: 10% auto;
  width: 50%;
  height: 75%;
  
}

.calc-2{
  height: 10%;
    width: 15%;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 25px;
    background: transparent;
    padding: 20px;
    text-align: center;
    border: 2px solid white;
}